@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*   display: flex; */
/*   justify-content: space-between; */
/* } */
* {
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
}

h3{
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
}

/*
html{
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1.3rem;
}*/

/* Header */
header{
    background: linear-gradient(30deg, #e9004e, #ff6a3f);
    /*box-shadow: 0 1px 8px #ddd;*/
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.75);
    padding: 5px;
}

header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 20px 50px;*/

}

.content{
    width: 92%;
    max-width: 1280px;
    margin: 0 auto;
    /*background-color: greenyellow;*/
}

main {
    width: 100%;
    flex: 1;
    margin-top: 2rem;
}

#logo{
    width: 300px;
    height: auto;
}

header a {
    color: white;
}


/*#nav-title {*/
/*    margin-right: auto;*/
/*    font-size: 1.1em;*/
/*}*/

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

h2{
    /*font-family: "Barlow", sans-serif;*/
    font-weight: 100;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: 1rem;
}

header a {
    text-decoration: none;
    color: #FFF;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: rgb(0, 0, 0);
}

footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
    height: auto;
}

.filterForm{
    padding-left: 1rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    /*align-content: center;*/
    align-items: center;
    /*background-color: greenyellow;*/
}

.search{
    width: 50px;
    height: 50px;
}

.btnIcon{
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

input, select{
    padding: 0.7rem 1.2rem;
    border-radius: 3rem;
    border: solid 1px #bfbfbf;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.articleContainer{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.articleCards{
    border-radius: 1rem;
    padding: 1rem;
    border: solid 1px #bfbfbf;
    list-style: none;
    display: inline-block;
    gap: 2rem;
    box-shadow:  0 2px 2px rgba(0, 0, 0, 0.5);
}

.articleCards:hover{
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.35);
    transition: 0.5s;
}

/*
main {
    margin-top: 15px;
    margin-left: 15px;
}

main h1 {
    margin: 10px;
}


.center-main {
    display: flex;
    width: 100%;
    height: 300px;
    margin: auto;
}

.center-section {
    margin: auto;
    text-align: center;
}


*/