<!DOCTYPE html>
<html lang="fr"
	  th:replace="~{layouts/layout :: layout-enchere(titrePage=~{:: title}, contenuPage=~{:: main}, ressourcesSupp=~{:: js-filtre}, scriptsJs=~{:: js-filtre})}"
	  xmlns:th="http://www.thymeleaf.org">


<head>

<title th:text="#{index.title}">page index</title>



</head>

<body>
	<main>
		<div class="content">
			<h2 data-th-text="#{index.h2}"></h2>

			<form class="filterForm" method="get" th:action="@{/}">

				<span th:text="#{index.filtres}"></span>

				<input id="contient" name="contient" th:value="${contient}" th:placeholder="#{index.nomContient}" />

				<select name="categorieId" id="categorie">
					<option value="" th:selected="${selectedCategorieId == null}" data-th-text="#{index.toutesCat}"></option>
					<option th:each="cat : ${categories}"
							th:value="${cat.id}"
							th:text="${cat.libelle}"
							th:selected="${cat.id == selectedCategorieId}">
					</option>

				</select>

				<button class="btnIcon" type="submit">
					<img class="search" th:src="@{/images/search.svg}" alt="Rechercher" />
				</button>

				<button class="btnIcon" type="button" id="resetBtn">
					<img class="close" th:src="@{/images/close.svg}" alt="Réinitialiser" />
				</button>

			</form>

			<section>
				<ul class="articleContainer">
					<li class="articleCards" data-th-each="article : ${articles}">
						<h3 data-th-text="${article.nom }"></h3>
<!--						<p th:text="#{article.dateDebut} + ' ' +${article.prixVente != null ? article.prixVente : article.prixInitial}"></p>-->

						<p data-th-text="#{article.dateFin} + ' ' +${@dateUtil.format(article.dateFinEncheres, 'dd/MM/yyyy')}"></p>
						<span data-th-text="#{article.vendeur}"></span><a th:href="@{/utilisateur/profil(pseudo=${article.vendeur.pseudo})}" data-th-text="${article.vendeur.pseudo}"></a>

					</li>
				</ul>

			</section>
		</div>
	</main>

	<th:block id="js-filtre" th:fragment="js-filtre">
		<script th:src="@{/js/filtre.js}"></script>
	</th:block>
</body>

</html>