<!DOCTYPE html>
<html lang="fr"
	  th:replace="~{layouts/layout :: layout-enchere(titrePage=~{:: title}, contenuPage=~{:: main}, ressourcesSupp=~{})}"
	  xmlns:th="http://www.thymeleaf.org">


<head>

<title th:text="#{index.title}">page index</title>

</head>

<body>



	<main class="center-main">
		<h2 data-th-text="#{index.h2}"></h2>

		<form method="get" th:action="@{/}">
			<select name="categorieId" id="categorie" onchange="this.form.submit()">
				<option value="" th:selected="${selectedCategorieId == null}" data-th-text="#{index.toutesCat}"></option>
				<option th:each="cat : ${categories}"
						th:value="${cat.id}"
						th:text="${cat.libelle}"
						th:selected="${cat.id == selectedCategorieId}">
				</option>
			</select>
		</form>

		<section class="center-section">
			<ul>
				<li data-th-each="article : ${articles}">
					<h3 data-th-text="${article.nom }"></h3>
					<p th:text="#{article.dateFin} + ' ' +${article.prixVente != null ? article.prixVente : article.prixInitial}"></p>

					<p data-th-text="#{article.dateFin} + ' ' +${@dateUtil.format(article.dateFinEncheres, 'dd/MM/yyyy')}"></p>
					<span data-th-text="#{article.vendeur}"></span><a th:href="@{/utilisateur/profil(pseudo=${article.vendeur.pseudo})}" data-th-text="${article.vendeur.pseudo}"></a>

				</li>
			</ul>

		</section>
	</main>

</body>

</html>