<!doctype html>
<html lang="fr"
	  th:replace="~{layouts/layout :: layout-enchere(titrePage=~{:: title},
	 contenuPage=~{:: main}, ressourcesSupp=~{:: #ressources-css}, scriptsJs=~{})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title th:text="#{inscription.title}"></title>

	<th:block id="ressources-css">
		<link th:href="@{/css/form.css}" rel="stylesheet" />
	</th:block>
</head>

<body>
	<main>
		<div th:replace="~{fragments/fragment-inscription-modif :: frag-inscription-modif}"></div>
	</main>
</body>

</html>