<!doctype html>
<html lang="fr"
	  th:replace="~{layouts/layout :: layout-enchere(titrePage=~{:: title},
	 contenuPage=~{:: main}, ressourcesSupp=~{:: #ressources-css}, scriptsJs=~{})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title th:text="#{login.title}"></title>

	<th:block id="ressources-css">
		<link th:href="@{/css/form.css}" rel="stylesheet" />
	</th:block>
</head>

<body>
	<main>
		<div class="content">
			<form class="subContent" th:action="@{/login}" method="post">

				<h2 th:text="#{login.h1}"></h2>

				<!-- Message d'erreur apparait uniquement si erreur avec message dynamique  -->
	<!--			<div class="cards" th:if="${param.error}" th:text="#{login.error}"></div>-->
	<!--			<div th:if="${param.logout}" th:text="#{login.logout}"></div>-->

					<div class="flexLine marginV1">
						<label for="username" th:text="#{login.username}"></label>
						<input id="username" name="username" />
					</div>
					<div class="flexLine marginV1">
						<label for="password" th:text="#{login.pwd}"></label>
						<input id="password" type="password" name="password" />
					</div>
					<div class="flexLine btns marginV1 marginVT1">
						<div></div>
						<div>
							<a  class="btn" href="javascript:history.back()" data-th-text="#{profil.btnRetour}"></a>
							<button class="btn accentBtn" type="submit" th:text="#{login.button}"></button>
						</div>
					</div>


					<p class="redText" th:text="#{login.messageInscription}"></p>
					<div class="btnInscrContainer">
						<a class="btn accentBtn2 btnInscr" th:href="@{/utilisateur/inscription}" th:text="#{login.buttonInscription}"></a>
					</div>
			</form>
		</div>
	</main>
</body>

</html>