<!DOCTYPE html>
<html lang="fr"
	  th:replace="~{layouts/layout :: layout-enchere(titrePage=~{:: title}, contenuPage=~{:: main}, ressourcesSupp=~{}, scriptsJs=~{})}"
	  xmlns:th="http://www.thymeleaf.org">


<head>

<title th:text="#{profil.title}">page index</title>

</head>

<body>
	<main class="center-main">
		<div class="content">
			<section class="subContent">
			<h2 th:text="#{profil.h1}"></h2>

				<div class="flexLine">
					<span data-th-text="#{profil.pseudo}"></span>
					<span class="bold" data-th-text="${user.pseudo}"></span>
				</div>


				<div class="flexLine">
					<span class="label" data-th-text="#{profil.prenom}"></span>
					<span  data-th-text="${user.prenom}"></span>
				</div>
				<div class="flexLine">
					<span class="label" data-th-text="#{profil.nom}"></span>
					<span data-th-text="${user.nom}"></span>
				</div>
				<div class="flexLine">
					<span class="label"  data-th-text="#{profil.email}"></span>
					<span data-th-text="${user.email}"></span>
				</div>
				<div class="flexLine">
					<span class="label"  data-th-text="#{profil.telephone}"></span>
					<span th:if="${user.telephone != null}" data-th-text="${user.telephone}"></span>
					<span th:if="${user.telephone == null}" data-th-text="#{profil.nonRenseigne}"></span>
				</div>

				<div class="flexLine">
					<span class="label"  data-th-text="#{profil.credit}"></span>
					<span data-th-text="${user.credit}"></span>
				</div>
				<div class="flexLine marginVT1">
					<div></div>
				<a class="btn accentBtn" th:if="${isCUserProfil}" th:href="@{/utilisateur/modifier-profil}" data-th-text="#{profil.btnModfier}"></a>
				<a  class="btn" th:if="${!isCUserProfil}" href="javascript:history.back()" data-th-text="#{profil.btnRetour}"></a>
				</div>
			</section>
		</div>
	</main>

</body>

</html>