<!doctype html>
<html lang="fr"
	  th:replace="~{layouts/layout :: layout-enchere(titrePage=~{:: title},
	 contenuPage=~{:: main}, ressourcesSupp=~{:: #ressources-css}, scriptsJs=~{})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title th:text="#{inscription.title}"></title>

	<th:block id="ressources-css">
		<link th:href="@{/css/form.css}" rel="stylesheet" />
	</th:block>
</head>

<body>
	<main>
		<form th:object="${articleAVendre}">
			<div class="form-group">
				<div>
					<label for="article">
						<span th:text="#{vente.article}"></span>
						<span class="asterix">*</span>
					</label>
					<input id="article" name="article" th:field="*{nom}" required/>
				</div>
			</div>

			<div>
				<label for="prix">
					<span th:text="#{article.prix}"></span>
					<span class="asterix">*</span>
				</label>
				<input id="prix" name="prix" type="number" step="1" th:field="*{prixInitial}" required/>
			</div>

			<div>
				<div>
					<label for="categorie">
						<span th:text="#{vente.categorie}"></span>
						<span class="asterix">*</span>
					</label>
					<select name="categorieId" id="categorie">
						<option value="" th:selected="${selectedCategorieId == null}" data-th-text="#{index.toutesCat}"></option>
						<option th:each="cat : ${categories}"
								th:value="${cat.id}"
								th:text="${cat.libelle}"
								th:selected="${cat.id == selectedCategorieId}">
						</option>
					</select>
				</div>

				<div>
					<label for="dateDebut">
						<span th:text="#{vente.dateDebut}"></span>
						<span class="asterix">*</span>
					</label>
					<input id="dateDebut" name="dateDebut" type="date" th:field="*{dateDebut}" required />
				</div>
			</div>

			<div>
				<div>
					<label for="description">
						<span th:text="#{vente.description}"></span>
						<span class="asterix">*</span>
					</label>
					<textarea id="description" name="description" ></textarea>
				</div>
				<div>
					<label for="dateDebut">
						<span th:text="#{vente.dateFin}"></span>
						<span class="asterix">*</span>
					</label>
					<input id="dateFin" name="dateFin" type="date" th:field="*{dateFin}" required />
				</div>
			</div>
			<div>
				<label for="adresseRetrait">
					<span th:text="#{vente.retrait}"></span>
					<span class="asterix">*</span>
				</label>
				<select id="adresseRetrait" name="adresseRetraitId" th:field="*{adresseRetraitId}" required>
					<!-- Adresse du vendeur -->
					<option th:value="${adresseVendeur.id}"
							th:text="'Adresse personnelle : ' + ${adresseVendeur.affichageComplet()}">
					</option>

					<!-- Adresses ENI -->
					<optgroup label="Points de retrait ENI">
						<option th:each="adresse : ${adressesEni}"
								th:value="${adresse.id}"
								th:text="${adresse.affichageComplet()}">
						</option>
					</optgroup>
				</select>
			</div>

		</form>
	</main>
</body>

</html>